@import '../../css/variables.scss';

.Intro {
	
	.Input, .Select {
		width: 100%;
		display: flex;
    flex-flow: column wrap;
		align-items: center;
	}

	input[type="text"]  {
		background: white;
		width: 80%;
		padding: $gutterSize;
	}

	.Input-checkbox {
		flex-flow: row-reverse;

		input[type="checkbox"]  {
			background: white;
			width: 40px;
			height: 40px;
		}

		label {
			flex-grow: 1;
			padding-left: $gutterSize;
		}
	}

	

	// select, option {
	// 	width: 100%;
	// }

	// select {
	// 	background: white;
	// 	width: 80%;
	// 	padding: $gutterSize;
	// }

	// option:disabled {
	// 	background: lightcoral;
	// }
}